<h2>Mock Template</h2>


<div class="content">
  
  <h2>3 Col content</h2>
  
  <div class="unit size1of3" role="refA">
    <%= @page.snippet_by_ref(:refA).markdown %>
  </div>
  <div class="unit size1of3" role="refB">
    <%= @page.snippet_by_ref(:refB).markdown %>
  </div>
  <div class="unit size1of3" role="refC">
    <%= @page.snippet_by_ref(:refC).markdown %>
  </div>
  
</div>

