
<div class='line padTop20'>
  <div class='unit size2of3'>
    <h2>TITLE</h2>
    <div class='legend' role='refA'>
      SNIPPET TODO
    </div>
  </div>
  <div class='unit size2of3'>
    <div class='mod bigPic'>
      <b class='top'></b>
      <div class='inner'>
        <div class='bd'>
          <img alt='' src='images/localhost/octonauts-adventure.png' title='' width='546px' />
        </div>
      </div>
      <b class='bottom'></b>
    </div>
  </div>
  <div class='unit size1of3'>
    <div class='mod bigPic complex flow'>
      <b class='top'>
        <b class='tl'></b>
        <b class='tr'></b>
      </b>
      <div class='inner'>
        <div class='hd section'>
          <h2>
            Octonauts Toys are coming soon...
          </h2>
        </div>
        <div class='bd legend'>
          <p>
            <a href='http://www.amazon.co.uk/gp/redirect.html?ie=UTF8&amp;location=http%3A%2F%2Fwww.amazon.co.uk%2Fs%3Fie%3DUTF8%26x%3D0%26ref_%3Dnb_sb_noss%26y%3D0%26field-keywords%3Doctonauts%26url%3Dsearch-alias%253Daps&amp;tag=emson-21&amp;linkCode=ur2&amp;camp=1634&amp;creative=19450' onclick='javascript: _gaq.push(['_trackPageview', '/linkTxt']);'>
              Until then find the latest Octonanuts books on Amazon.
            </a>
            <br />
            <a href='http://www.amazon.co.uk/gp/redirect.html?ie=UTF8&amp;location=http%3A%2F%2Fwww.amazon.co.uk%2Fs%3Fie%3DUTF8%26x%3D0%26ref_%3Dnb_sb_noss%26y%3D0%26field-keywords%3Doctonauts%26url%3Dsearch-alias%253Daps&amp;tag=emson-21&amp;linkCode=ur2&amp;camp=1634&amp;creative=19450' onclick='javascript: _gaq.push(['_trackPageview', '/linkBtn']);'>
              <img alt='Octonauts Books on Amazon' src='images/localhost/button-browse.gif' title='Octonauts Books on Amazon' />
            </a>
          </p>
        </div>
      </div>
      <b class='bottom'>
        <b class='bl'></b>
        <b class='br'></b>
      </b>
    </div>
  </div>
</div>
<hr />
<div class='line'>
  <div class='unit size1of3'>
    <div class='mod'>
      <b class='top'></b>
      <div class='inner'>
        <div class='hd'>
          <h3>
            Latest Octonauts News
          </h3>
        </div>
        <div class='bd'>
          <p>
            Octonauts Shellington suggested we post this video of super cute sea otter pups at the Longleat zoo!
            <a href='http://www.facebook.com/octonauts'>Comments on Facebook</a>
          </p>
          <hr />
          <p>
            <a href='http://news.google.com/news/url?sa=t&amp;ct2=uk%2F0_0_s_0_0_t&amp;ct3=MAA4AEgAUABgAWoCdWs&amp;usg=AFQjCNHcrGJh2_AX8JjR5AZW8XkPnmwjzQ&amp;cid=0&amp;ei=DXn1TJjZM8bXjgfpoJPOAQ&amp;rt=SEARCH&amp;vm=STANDARD&amp;url=http%3A%2F%2Fwww.dailymail.co.uk%2Fmoney%2Farticle-1329224%2FCBeebies-Octonauts-Tuning-revolution-broadcasting.html%3Fito%3Dfeeds-newsxml '>CBeebies' Octonauts: Tuning into a revolution in broadcasting.</a>
            His current obsession is Octonauts, a cartoon about a crew of undersea explorers who battle adversity beneath the waves. But as anxious and...
          </p>
          <hr />
          <p>
            <a href='http://tv.fopii.com/news/p3_2705_0.html'>TV News.</a>
            CBeebies is inviting children to take the plunge and go on an exciting voyage of discovery through the world's oceans...
          </p>
        </div>
      </div>
      <b class='bottom'></b>
    </div>
  </div>
  <div class='unit size1of3'>
    <div class='mod'>
      <b class='top'></b>
      <div class='inner'>
        <div class='hd'>
          <h3>
            Octonauts on YouTube
          </h3>
        </div>
        <div class='bd'>
          <p>
            <object width='260' height='220'><param name='movie' value='http://www.youtube.com/v/KnyBCNqe92E?fs=1&amp;hl=en_GB&amp;rel=0&amp;color1=0x006699&amp;color2=0x54abd6'></param><param name='allowFullScreen' value='true'></param><param name='allowscriptaccess' value='always'></param><embed src='http://www.youtube.com/v/KnyBCNqe92E?fs=1&amp;hl=en_GB&amp;rel=0&amp;color1=0x006699&amp;color2=0x54abd6' type='application/x-shockwave-flash' allowscriptaccess='always' allowfullscreen='true' width='260' height='220'></embed></object>
          </p>
        </div>
      </div>
      <b class='bottom'></b>
    </div>
  </div>
  <div class='unit size1of3 lastUnit'>
    <div class='mod'>
      <b class='top'></b>
      <div class='inner'>
        <div class='hd'>
          <h3>
            Octonauts Links
          </h3>
        </div>
        <div class='bd'>
          <p>
            Have fun and play
            <a href='http://www.theoctonauts.com/'>The Octonauts Online Game</a>
          </p>
          <hr />
          <p>
            <a href='http://www.theoctonauts.com/'>The official Octonauts website</a>
            has everything you need to know about the Octonauts.
          </p>
          <hr />
          <p>
            For the latest news and comments
            <a href='http://www.facebook.com/octonauts'>follow the Octonauts on Facebook.</a>
          </p>
          <hr />
          <p>
            The Octonauts can also be found on
            <a href='http://www.facebook.com/octonauts'>the Cbeebies web site.</a>
          </p>
        </div>
      </div>
      <b class='bottom'></b>
    </div>
  </div>
</div>